@import "../framework/framework";

.input-stepper {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 56px;
  padding: 0 6px;
  position: relative;
  text-align: left;
  display: inline-block; //must be an inline element, so we can position multiple steppers in one line

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: 8px;
    pointer-events: none;
  }

  &.edited:after {
    border-color: #9cccf6;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 90, 132, 0.25);
  }

  &:not(.disabled) {
    html &:hover,
    &:hover > input,
    &:hover > .units,
    & > input:focus {
      background-color: $g-color-b4;
      color: $g-color-d2;
      cursor: pointer;
    }
    &:hover:after {
      border-color: $g-color-b4;
    }
  }

  &.edited {
    background-color: transparent !important;

    > input {
      background-color: transparent !important;
      cursor: text !important;
    }
  }

  &:not(.edited) {
    > input {
      cursor: default;
      &::selection {
        background-color: transparent;
      }
    }
  }

  .input {
    border: none;
    outline: none;
    text-align: center;
    font-family: $g-font55;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    padding: 0 7px;
    width: calc(100% - 14px);
    display: inline-block; //must be an inline element, so we can position multiple steppers in one line
    color: $g-color-d1;

    &::selection {
      background-color: $g-color-b5;
    }
  }

  &.has-units {
    .input {
      width: 70%;
      padding: 0;
      text-align: right;
      display: inline-block;
    }
  }

  .units {
    line-height: 36px;
    height: 36px;
    width: 1%;
    display: inline-block;
    white-space: nowrap;
    padding: 0 7px 0 1px;
  }

  &.edited .units {
    visibility: hidden;
  }

  &.disabled {
    opacity: 0.5;
    > input, {
      color: $g-color-d1x;
      background: transparent;
    }
    .units {
      color: $g-color-d1x;
    }
  }
}

.input-stepper.small {
  width: 45px;
  padding: 2px 2px 2px 0;

  .units {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
  }

  > input {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
  }
}
