{
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": 0,
    "func-style": 0,
    "indent": 0,
    "keyword-spacing": 0,
    "no-new": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "quotes": 0,
    "quote-props": 0,
    "object-curly-spacing": 0,
    "padded-blocks": 0,
    "sort-imports": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": 0,
    "wrap-iife": 0
  },
  "extends": "wix-editor",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "browser": true,
    "amd": true
  },
  "globals": {
    "module": true
  }
}
