@import "../../../../../baseUI/src/main/framework/framework";

@include toggle-regular-up(alignMiddle) {
  shape-rendering: crispEdges;

  path {
    transition: fill 0.2s;
  }

  .cls-b1 {
    fill: $g-color-b1;
  }

  .cls-b3 {
    fill: $g-color-b3;
  }
}

@include toggle-selected-up(alignMiddle) {
  .cls-b1 {
    fill: $g-color-b3;
  }

  .cls-b3 {
    fill: $g-color-b5;
  }
}
