@import "../../../../baseUI/src/main/framework/framework";

@include button-up(color-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-hover(color-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-down(color-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-disabled(color-btn) {
  .st0 {
    fill: $g-color-b1x;
  }
}
