@import "../../../../baseUI/src/main/framework/framework";

@include button-up(device-btn) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-hover(device-btn) {
  .st1 {
    fill: $g-color-b2;
  }
}

@include button-down(device-btn) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-disabled(device-btn) {
  .st1 {
    fill: $g-color-e4x;
  }
}
