@import "../../../../baseUI/src/main/framework/framework";

@include button-up(help-btn) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-hover(help-btn) {
  .st1 {
    fill: $g-color-b2;
  }
}

@include button-down(help-btn) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-disabled(help-btn) {
  .st1 {
    fill: $g-color-e4x;
  }
}
