@import "../../../../baseUI/src/main/framework/framework";

@include button-up(image-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-hover(image-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-down(image-btn) {
  .st0 {
    fill: $g-color-b1;
  }
}

@include button-disabled(image-btn) {
  .st0 {
    fill: $g-color-b1x;
  }
}
