@import "../../../../baseUI/src/main/framework/framework";

@include button-up(lock-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-hover(lock-btn-bld) {
  .st1 {
    fill: $g-color-b1;
  }
}

@include button-down(lock-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-disabled(lock-btn-bld) {
  .st1 {
    fill: $g-color-d1x;
  }
}
