@import "../../../../baseUI/src/main/framework/framework";

@include button-up(move-to-front-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-hover(move-to-front-btn-bld) {
  .st1 {
    fill: $g-color-b1;
  }
}

@include button-down(move-to-front-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-disabled(move-to-front-btn-bld) {
  .st1 {
    fill: $g-color-d1x;
  }
}
