@import "../../../../baseUI/src/main/framework/framework";

@include button-up(paste-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-hover(paste-btn-bld) {
  .st1 {
    fill: $g-color-b1;
  }
}

@include button-down(paste-btn-bld) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-disabled(paste-btn-bld) {
  .st1 {
    fill: $g-color-d1x;
  }
}
