@import "../../../../baseUI/src/main/framework/framework";

@include button-up(preview-btn-bld) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-hover(preview-btn-bld) {
  .st1 {
    fill: $g-color-b2;
  }
}

@include button-down(preview-btn-bld) {
  .st1 {
    fill: $g-color-e4;
  }
}

@include button-disabled(preview-btn-bld) {
  .st1 {
    fill: $g-color-e4x;
  }
}
