@import "../../../../baseUI/src/main/framework/framework";

@include button-up(rotation-btn) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-hover(rotation-btn) {
  .st1 {
    fill: $g-color-b1;
  }
}

@include button-down(rotation-btn) {
  .st1 {
    fill: $g-color-d1;
  }
}

@include button-disabled(rotation-btn) {
  .st1 {
    fill: $g-color-d1x;
  }
}
