.playIcon {
  width: 0;
  height: 0;
  margin-top: 50%;
  margin-left: 50%;
  top: -4px;
  left: -2px;
  position: relative;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #3899ec;
}

.playButton {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #3899ec;
  &:hover {
    background-color: #edf7ff;

  }
  &.isPlaying {
    background-color: #3899ec;

    .playIcon {
      border-left-color: #ffffff;
    }
  }
}

