@import "../framework/framework";

.control-section-divider {
  $control-height: 42px;
  $control-color: rgba(57, 86, 113, 0.8);

  height: $control-height;
  box-sizing: border-box;
  background-color: $g-color-d5;
  width: 100%;

  &.labeled {
    @include g-font-f02();
    line-height: $control-height;
    position: relative;
    text-align: center;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $g-color-d2;
    padding: 0 42px;

    .info-icon {
      position: absolute;
      right: 12px;
      top: 12px;
      line-height: 0;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.15s;
    }

    &:hover .info-icon {
      opacity: 1;
    }
  }
}
