@import "../../../baseUI/src/main/framework/framework";

.symbol-connectNewDomain {

  .cls-44 {
    fill: $g-color-b4;
  }

  .cls-5 {
    fill: #ffffff;
  }

  .cls-6 {
    fill: $g-color-b2;
  }

}