@import "../../../../baseUI/src/main/framework/framework";

.symbol-ArchiveDropDown {

  .cls-4 {
    stroke: $g-color-b3;
    stroke-width: 1px;
    fill: none;
  }

  .cls-5 {
    fill: $g-color-b3;
  }

  .cls-7 {
    fill: $g-color-b5;
  }

  .cls-8 {
    fill: #ffffff;
  }

}