@import "../../../../baseUI/src/main/framework/framework";

.symbol-MediaRight {

  .cls-4 {
    fill: $g-color-b3;
  }

  .cls-7 {
    fill: #b5e2fb;
  }

  .cls-8 {
    fill: $g-color-d5;
  }

  .cls-9 {
    fill: $g-color-b5;
  }

}