@import "../../../../baseUI/src/main/framework/framework";

.symbol-PostsGalleryMediaTop {

  .cls-4 {
    fill: $g-color-b3;
  }

  .cls-6 {
    fill: #b5e2fb;
  }

  .cls-7 {
    fill: $g-color-b5;
  }

}