@import "../../../../baseUI/src/main/framework/framework";

.symbol-wysiwyg_viewer_skins_gallery_SlideShowTextBottom {

  .cls-4 {
    fill: #ffffff;
  }

  .cls-5 {
    fill: $g-color-b3;
  }

  .cls-6 {
    fill: #b5e2fb;
  }

  .cls-7 {
    fill: $g-color-b5;
  }

  .cls-9 {
    fill: $g-color-b2;
  }

}