@import "../../../../baseUI/src/main/framework/framework";

.symbol-wysiwyg_viewer_skins_gallery_SlideShowTextFloating {

  .cls-4 {
    fill: $g-color-b3;
  }

  .cls-5 {
    fill: #b5e2fb;
  }

  .cls-6 {
    fill: #ffffff;
  }

  .cls-8 {
    fill: $g-color-b5;
  }

  .cls-10 {
    fill: $g-color-b2;
  }

}