@import "../../../../baseUI/src/main/framework/framework";

@include toggle-regular-up(anim-fold-in) {
  .st1 {
    fill: $g-color-b2;
  }

  .st2 {
    fill: $g-color-b3;
  }

  .st3 {
    fill: $g-color-b2;
    opacity: 0.25;
  }
}

@include toggle-selected-up(anim-fold-in) {
  .st1 {
    fill: $g-color-b4;
  }

  .st2 {
    fill: $g-color-d6;
  }

  .st3 {
    fill: $g-color-b4;
    opacity: 0.25;
  }
}